<section id = "form">
  <div class= "container">
    <div class="col-sm-8 col-sm-offset-2 new_board">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Edit Team</h2>
        </div>
        <div class="panel-body">
          <%= form_for :team, url: user_team_path(current_user, @team), method: :patch do |f| %>
              <div class="form-group">
                <%= f.label :name, class: "col-sm-4 control-label" %>
                <div class="col-sm-6">
                  <%= f.text_field :name, class: "form-control", autofocus: true %>
                </div><br />
              </div><br />
              <div class="form-group">
                <%= f.label :description, class: "col-sm-4 control-label" %>
                <div class="col-sm-6">            
                  <%= f.text_area :description, class: "form-control", autofocus: true %>
                </div><br />
              </div><br /><br />
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                  <%= f.submit "Edit",class: "btn btn-default submit" %>
                </div>
              </div>
          <% end %><br /><br />
        </div>
      </div>
    </div>
  </div>
</section>

          
          