<section class="trello">
	<div class= "header-top">
		<div class="container">
			<div class="col-sm-2">
				<%= image_tag("/assets/logo.png", size: "80x80", alt: "Trello") %>
			</div>
			<div class="col-sm-2 pull-right login-link">
				<%= link_to 'Sign Up', new_user_registration_path, class: "button" %>
				<div class="col-sm-2 pull-right dropdown">
					<%= link_to 'Login', new_user_session_path, class: "button" %>
					<div class="dropdown-content">
						<% if current_user.present? %>
							<%= link_to 'Edit Account',  edit_user_registration_path %>
							<%= link_to 'Logout', destroy_user_session_path , method: :delete %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row1"> 
		<div class="col-sm-4 col-sm-offset-3 box"> 
			<h1>Trello lets you work more collaboratively and get more done.</h1><br />
			<p>Trello’s boards, lists, and cards enable you to organize and prioritize your projects in a fun, flexible and rewarding way. </p><br />
			<%= link_to 'Sign Up', new_user_registration_path, class: "button box1" %>
		</div>   
		<div class="box2 col-sm-4"> 
			<p class="small">Already use Trello? 
				<%= link_to 'Login', new_user_session_path, class: "button" %>
			</p> 
		</div>  
	</div>
	<div class="sync"> 
		<div class="sync-img"> 
			<div class="col-sm-4 col-sm-offset-3" style="order:1; -webkit:order: 1; margin-top: 130px;"> 
				<h2>Always In Sync</h2> 
				<p>No matter where you are, Trello stays in sync across all of your devices. Collaborate with your team anywhere, from sitting on the bus to sitting on the beach.</p>
			</div>
		</div> 
	</div>
</section>