<div class="col-sm-2 pull-right">
	<% if current_user.present? %>
		<%= current_user.name %>
	<% end %>
</div><br />
<% @users.each do |user|%>
	<% if current_user.id != user.id %>
		<%= user.name %><br/>
	<% end %>
<% end %>
<div class= "row">
	<div class="col-sm-4">
		<%= link_to "Create a new board", new_user_board_path(current_user) %><br />
	</div><br />
	<div class="col-sm-4">
		<%= link_to "Create a new team", new_user_team_path(current_user) %><br />
	</div><br />
</div>
<%= link_to "Back", root_path %>