<section id = "form">
  <div class= "container">
    <div class="col-sm-8 col-sm-offset-2 new_board">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 style="text-align: center;">Create Board</h2>
        </div>
        <div class="panel-body">
          <%= form_for :board, url: user_boards_path do |f| %>
              <div class="form-group">
                <%= f.label :title, class: "col-sm-4 control-label", style: "text-align: center" %>
                <div class="col-sm-6">
                  <%= f.text_field :title, class: "form-control", autofocus: true %>
                </div><br />
              </div><br />
              <div class="form-group">
                <%= f.label :team, class: "col-sm-4 control-label", style: "text-align: center" %>
                <div class="col-sm-6">
                  <%# binding.pry %>
                  <%= f.select :team, @teams.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
                  <%#= f.select team, options_for_status, {}, prompt: 'Select One' %>
                  <%#= f.select :team, options_for_select([["Select One", ""], "Cell", "Work", "Office", "Home", "Other"]), :class => 'form-control' %>
                  <%#= f.text_field :title, class: "form-control", autofocus: true %>
                </div><br />
              </div><br />
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                  <%= f.submit "Create",class: "btn btn-default submit" %>
                </div>
              </div>
          <% end %><br /><br />
        </div>
      </div>
    </div>
  </div>
</section>

          
          